pipeline/pl_ingest_driver_raw_data.json
{
	"name": "pl_ingest_driver_raw_data",
	"properties": {
		"activities": [
			{
				"name": "lookup_seasons_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ingest_seasons_data_adls",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "act_for_each_season",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_seasons_data').output.firstRow.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ingest_driver_raw_data_http",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://ergast.com/api/f1/',item().season,'/drivers.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_drivers_raw_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ingest_driver_raw_data_http",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_ingest_driver_raw_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ingest_driver_data_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Formula_one_project/ingest_raw_data"
		},
		"annotations": []
	}
}