pipeline/pl_ingest_raw_races.json
{
	"name": "pl_ingest_raw_races",
	"properties": {
		"activities": [
			{
				"name": "Lookup_races_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ingest_seasons_data_adls",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "for_each_season",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_races_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_races_data').output.firstRow.MRData.SeasonTable.seasons",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "web_ingest_races_data",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://ergast.com/api/f1/',item().season,'/races.json?limit=1000')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ingest_data_into_variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "web_ingest_races_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "web_op",
								"value": {
									"value": "@{activity('web_ingest_races_data').output}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_data_text_to_adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ingest_data_into_variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "my_clm",
											"value": {
												"value": "@variables('web_op')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "my_clm",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_raw_demo",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_races_data",
									"type": "DatasetReference",
									"parameters": {
										"season": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"web_op": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Formula_one_project/ingest_raw_data"
		},
		"annotations": []
	}
}